<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Flat HTML5/CSS3 Login Form</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="login-page">
  <div class="form">
      <form class="register-form" method="POST" action="/register">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="password" placeholder="confirm password" name="confirm_password"/>
      <input type="text" placeholder="email address" name="email"/>
      <button type="submit">create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>
<script src='libs/jquery/jquery.min.js'></script>
<script  src="js/index.js"></script>
</body>

</html>

